body{
   background-color: rgb(240, 234, 230);

}

.social ul{
    position: absolute;
    top: 50%;
    left:50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%,-50%);
    display: flex;
    }

.social ul li{
        list-style: none ;
        margin: 0 15px;
        padding: 5px 20px;
        display: inline;  
}
.social ul li .fa{
    font-size: 30px;
    transition: .6S;
    color: #333;
    line-height: 60px;
    
}
.social ul li .fa:hover{
    color: white;
}
.social ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:white;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social ul li a:hover{
    transform: translate(0,-10px);
}
.social li:nth-child(1) a:hover {
    background-color: 3b5999;
}
.social li:nth-child(2) a:hover{
    background-color: e4405f;
}
.social li:nth-child(3) a:hover{
    background-color: 55acee;
}
.social ul li:nth-child(4) a:hover{
    background-color: 0077B5;
}
.social ul li:nth-child(5) a:hover{
    background-color: 25D366;
}
